@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #0e0e21;
    --secundary-color: #ff6f9c;
    --white-color: #fff;

}

/*------------- AJUSTES GERAIS -------------*/

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


p {
    color: var(--primary-color);
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;

}

.section-title span {
    color: var(--secundary-color);
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: var(--secundary-color);
    background-color: rgba(4, 9, 48, 0.7);
    border: 2px solid var(--secundary-color);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    
}

.cta:hover {
    color: var(--white-color);
    background-color: var(--secundary-color);
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--white-color);
}

.brand h1 span {
    color: var(--secundary-color);
}

/*  --------------------------- Header Section ---------------------------  */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.25);
    transition: .3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgba(14,14,33);
    width: 100%;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}

#header .nav-list ul.active {
    left: 0;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .2rem;
    text-decoration: none;
    color: var(--white-color);
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
/*efeito no fundo do menu mobile com letras, for data-after*/

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 10rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: var(--secundary-color);
}

/*hamburger animacao do navegador de menus interativo mobile*/

/*primeiro circulo*/
#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
 }   

 #header .hamburger:after {
     position: absolute;
     content: '';
     height: 100%;
     width: 100%;
     border-radius: 50%;
     border: 3px solid #fff;
     animation: hamburger_puls 1s ease infinite;
 }

/*primeiro traço do meio*/
#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: var(--white-color);
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: var(--white-color);
    transition: .3s ease;
    transition-property: top, bottom;
}

/*traço de baixo 3*/

#header .hamburger .bar::after {
    top: 8px;
}

/*traço de cima 1*/

#header .hamburger .bar::before {
    bottom: 8px;
}

/*abrir e fechar menu mobile*/

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}


/*  --------------------------- End Header Section ---------------------------  */


/* --------------------------- Hero Section --------------------------- */
#hero {
    background-image: url(img/programmer-wallpaper.png);
    background-size: cover;
    background-position: top center;
    position: relative;
}

#hero::after{
    content:'';
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0);
    opacity: .7;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content; /*é usada para especificar como um <img> ou <video> deve ser redimensionado para caber em seu contêiner // Esta propriedade instrui o conteúdo a preencher o contêiner de várias maneiras; como "preservar essa proporção" ou "esticar e ocupar o máximo de espaço possível" // imagem mantém sua proporção e preenche a dimensão dada.*/
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--secundary-color);
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;

}

#hero h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#hero em {
    display: block;
    width: fit-content;
    padding-top: 1rem;
    font-size: 16px;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 4s;

}

#hero em span {
    position: absolute;
    padding-top: 1rem;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--secundary-color);
    animation: text_reveal_box 1s ease;
    animation-delay: 3.5s;
}


/*  --------------------------- End Hero Section ---------------------------  */

/*  --------------------------- Services Section ---------------------------  */

#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}


#services .service-top {
    max-width: 500px;
    margin: 0 auto;
  

}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item {
    flex-basis: 80%; /*define o tamanho principal inicial de um item flexível. Ele define o tamanho da caixa de conteúdo, a menos que seja definido de outra forma com */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(img/panda_programmer.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;

}

#services .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    opacity: .9;
    z-index: -1;
}

#services .service-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
    
}

#services .service-item h2 {
    font-size: 2rem;
    color: var(--white-color);
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p {
    color: var(--white-color);
    text-align: left;
    
}

/*  --------------------------- End Services Section ---------------------------  */

/*  --------------------------- Projects Section ---------------------------  */

#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .projects-header .icon-button img {
    width: 80px;
    height: 80px;
    position: relative;
    right: 2.2rem;
    margin-bottom: 50px;
    transition: .3 ease box-shadow;
}

#projects .projects-header .icon-button img:hover {
    border-radius: 5rem;
    box-shadow: 2px 1px 10px var(--secundary-color);
}

#projecs .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secundary-color);
    /* background-image: linear-gradient(60deg, #0e0e21 0%, #1d1d55 100%); */
    color: var(--white-color);

}


#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 800;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 10px;
}

#projects .project-info p {
    color: var(--white-color);
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
}

#projects .project-img:after {
    content: '';
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .7;

}

#projects .project-img img {
    transition: .3s ease transform;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

/*  --------------------------- End Projects Section ---------------------------  */

/*  --------------------------- About Section ---------------------------  */

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left{
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
} 

#about .col-right .cta {
    color: var(--primary-color);
    background-color: transparent;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid var(--white-color);
    
}

#about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid var(--secundary-color);
    box-shadow: -3px 3px 8px var(--secundary-color) ;
    z-index: -1;
}

/*  --------------------------- End About Section ---------------------------  */

/*  --------------------------- Contact Section ---------------------------  */

#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

#contact .contact-items {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
}

#contact .contact-item {
    width: 60%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 0 #ccc;
    transition: .3s ease box-shadow;
}

#contact .contact-item:hover {
    box-shadow: 0px 0px 8px 0 #ccc;
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 5px;

}

/*  --------------------------- End Contact Section ---------------------------  */

/*  --------------------------- Footer Section ---------------------------  */
#footer {
    background-image: linear-gradient(60deg, #0e0e21 0%, #1d1d55 100%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2 {
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 40px;
    width: 40px;
    margin: 0 10px ;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: .3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);

}

#footer p {
    color: var(--white-color);
    font-size: 1.3rem;
}


/*  --------------------------- End Footer Section ---------------------------  */


/*  --------------------------- keyframes ---------------------------  */
@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.3);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: #fff;
    }
}

@keyframes text_reveal_name {
    100% {
        color: var(--secundary-color);
        font-weight: 800px;
    }
}

/*  --------------------------- End keyframes ---------------------------  */

/*  --------------------------- Responsive Query for tablet ---------------------------  */
@media only screen and (min-width:768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }

    h1.section-title {
        font-size: 5rem;
    }

    /* -----Hero----- */
    #hero h1 {
        font-size: 6rem;
    }
     /* -----End Hero----- */

     /* -----Services Section----- */
    #services .service-bottom .service-item {
        flex-basis: 45%;
        margin: 2.5%;
     }
     /* -----End Services Section----- */

     /* -----Projects----- */

     #projects .projects-header .icon-button img {
       position: relative;
       right: 0;
    }

     #projects .project-item {
        flex-direction: row;
     }

     #projects .project-item:nth-child(even) {
        flex-direction: row-reverse; /*usar em linhas alternadas*/
     }

     #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
     }

     #projects .all-projects .project-info {
        height: 100%;
     }

     #projects .all-projects .project-img {
        height: 100%;
    }

    /*  ----- End Projects -----  */

    /*  ----- About -----  */
     #about .about {
         flex-direction: row;
     }

     #about .col-left {
         width: 700px;
         height: 500px;
         padding-left: 60px;
         /* position: relative;
         top: -5rem; */
     }

     #about .about .col-left::after {
         left: -45px;
         top: 39px;
         width: 98%;
         height: 98%;
         border: 10px solid var(--secundary-color);
     }

     #about .col-right {
         text-align: left;
         padding: 30px;
     }

     #about .col.right h1 {
         text-align: left;
     }

    /* -----  End About -----  */

    /* -----  Contact -----  */
    #contact .contact {
		flex-direction: column;
		padding: 50px 0 200px 0;
		align-items: center;
		justify-content: center;
		min-height: 20vh;
	}

	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
        justify-content: space-evenly;
		padding: 20px;
		margin: 0;
        
	}

	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}

	#contact .contact-item .icon {
		height: 80px;
		width: 80px;
	}

	#contact .contact-item .icon img {
		object-fit: contain;
	}
    
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}

    /* -----  End Contact -----  */

}

/* ---------------------------End Responsive Query for tablet--------------------------- */

/* ---------------------------Responsive Query for Desktop--------------------------- */
@media only screen and (min-width: 1200px){
    /*----- Header -----*/
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 1.8rem;
    }

    #header .nav-list ul a:after {
        display: none;
    }

    /*----- End Header -----*/

    /*----- Services section -----*/

    #services .service-bottom .service-item {
        flex-basis: 29%;
        margin: 1.5%;
    }

    /*----- End Services section -----*/

}

/* ---------------------------End Responsive Query for Desktop--------------------------- */


